{{ define "structs" }}

{{ range .Schemas }}
type {{ .Name}} = {
  {{ range .Properties }}{{ template "field" .}}{{ end -}}
}
{{ end }}
{{ end }}


{{- define "field" }}  {{ .CannonicalName }}{{if .Required}}?{{end}}: {{ getType . }},
{{ end }}
